{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <style>
        .clearfix:after {
            content: '';
            display: table;
            width: 100%;
            clear: box;
        }

        .header {
            background: #363636;
        }

        .header a {
            color: #FFFFFF;
            font-size: 20px;
            float: right;
            margin: 15px;
        }

        .header a:hover {
            color: #727272;
            text-decoration: none;
        }

        .header p {
            float: left;
            color: #FFFFFF;
            font-size: 20px;
            margin: 15px;
        }

        .table {
            margin-top: 40px;
        }
    </style>

    <div class="container-fluid header clearfix">
        <p>{{ app.user.username }}</p>
        <a href="{{ '/main' }}">Main page</a>
    </div>


    <div class="container">
        <div class="container">
            <table class="table table-bordered" style="text-align: center">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.username }}</th>
                        <th scope="row">{{ user.email }}</th>
                        <td><a href="{{ path('remove_user', {'user': user.id}) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
