{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .container {
            text-align: center;
            margin-top: 20px;
            width: 800px;
        }

        .clearfix:after {
            content: '';
            display: table;
            width: 100%;
            clear: box;
        }

        .header {
            background: #363636;
        }

        .header a {
            color: #FFFFFF;
            font-size: 20px;
            float: right;
            margin: 15px;
        }

        .header a:hover {
            color: #727272;
            text-decoration: none;
        }

        .header p {
            float: left;
            color: #FFFFFF;
            font-size: 20px;
            margin: 15px;
        }

        button{
            margin-top: 20px;
        }
    </style>

    <div class="container-fluid header clearfix">
        <a href="{{ '/edit' }}">Quizes</a>
    </div>

    <div class="container">
        <h2>Create new question!</h2>
        {{ form_start(form) }}

        {{ form_row(form.question, {'label': ' ', 'attr': {'class': 'form-control', 'placeholder': 'Question'}}) }}
            <div class="answers">
                {% for answer in form.answers %}
                    {{ form_row(answer.answer, {'label': ' ', 'attr': {'class': 'form-control', 'placeholder': 'Answer'}}) }}
                    {{ form_row(answer.is_true, {'label': ' '}) }}
                {% endfor %}
            </div>

            <button class="btn btn-success col-4" type="submit">save</button>

        {{ form_end(form) }}
    </div>


{% endblock %}
